<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Downloads | {% block title %}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% endblock %}
    {% block extra_css %}{% endblock %}
    {% block extra_meta %}{% endblock %}
</head>
<body>

<div class="container">
    {% block content %}{% endblock %}
</div>

{% block js %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>