### Python ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Static files

omaha_server/static
omaha_server/media
*.zip
ebs.config

deploy/*.zip
deploy/ebs.config
deploy/settings.yml

deploy/google/app.yaml
!deploy/google/app.yaml.example

### Vagrant ###
.vagrant/
