# This software is licensed under the Apache 2 license, quoted below.
#
# Copyright 2014 Crystalnix Limited
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License. You may obtain a copy of
# the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under
# the License.

aws:
    access_key: 'AWS Access Key'
    secret_key: 'AWS Secret Key'
    region: 'us-east-1'
    bucket: 'the bucket that beanstalk apps will be stored in'
    bucket_path: 'omaha-server'

app:
    versions_to_keep: 10
    app_name: 'omaha-server'
    description: 'Omaha Server'

    all_environments:
        solution_stack_name: '64bit Amazon Linux 2014.09 v1.0.9 running Docker 1.2.0'
        tier_name: 'WebServer'
        tier_type: 'Standard'
        tier_version: '1.0'

        option_settings:

            'aws:autoscaling:launchconfiguration':
                InstanceType: 't2.small'
                SecurityGroups: 'omaha_server_dev'
                EC2KeyName: 'Key Name'

            'aws:autoscaling:asg':
                MinSize: 1
                MaxSize: 10

            'aws:autoscaling:trigger':
                BreachDuration: 300
                MeasureName: 'CPUUtilization'
                Unit: 'Percent'
                LowerThreshold: 20
                UpperThreshold: 70
                UpperBreachScaleIncrement: 1

            'aws:elasticbeanstalk:application':
                Application Healthcheck URL: '/admin/login/'

            'aws:elasticbeanstalk:application:environment':
                AWS_ACCESS_KEY_ID: 'AWS Access Key'
                AWS_SECRET_KEY: 'AWS Secret Key'

        archive:
            files:
                - .ebextensions/01_nginx.config:
                    yaml:
                        files:
                            "/etc/nginx/conf.d/proxy.conf":
                                mode: "000755"
                                owner: root
                                group: root
                                content: |
                                    client_max_body_size 275M;

                - .ebextensions/02-commands.config:
                    yaml:
                        container_commands:
                            00001-docker-privileged:
                                command: 'sed -i "s/docker run -d/docker run --privileged -d/" /opt/elasticbeanstalk/hooks/appdeploy/pre/04run.sh'

            includes:
                - 'Dockerrun.aws.json'


    environments:

        # the dev version of the app
        'omaha-server-dev':
            cname_prefix: 'your-domain-prefix'
            option_settings:
                'aws:elasticbeanstalk:application:environment':
                    APP_VERSION: 'DEV'
                    DJANGO_SETTINGS_MODULE: 'omaha_server.settings_prod'
                    SECRET_KEY: 'Django SECRET_KEY'
                    HOST_NAME: 'Eb app host name your-domain-prefix.elasticbeanstalk.com'
                    DB_HOST: 'db host'
                    DB_USER: 'db user'
                    DB_NAME: 'db name'
                    DB_PASSWORD: 'db password'
                    AWS_ACCESS_KEY_ID: 'AWS Access Key'
                    AWS_SECRET_ACCESS_KEY: 'AWS Secret Key'
                    AWS_STORAGE_BUCKET_NAME: 'S3 storage bucket'
                    RAVEN_DNS: 'Sentry url'
                    RAVEN_DSN_STACKTRACE: 'Sentry url'
                    REDIS_HOST: '127.0.0.1'
