[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "==1.11.0"
django-debug-panel = "*"
ebs-deploy = "==2.0.1"
bumpversion = "==0.5.3"
django-nose = "==1.4.6"
nose = "*"
nose-progressive = "==1.5.1"
xmlunittest = "*"
coverage = "==4.0.3"
python-coveralls = "*"
freezegun = "==0.3.7"
mock = "==2.0.0"
tox = "==2.5.0"
pyquery = "==1.2.13"
moto = "==1.3.8"
factory_boy = "==2.8.1"

[packages]
uwsgi = "*"
Django = "==2.2.0"
djangorestframework = "==3.7.7"
django-suit = "==0.2.26"
django-extensions = "==2.1.6"
django-storages = "==1.6.5"
django-absolute = "*"
django-versionfield3 = "==0.1.8"
django-redis = "*"
django-bower = "==5.1.0"
django-nvd3 = "==0.9.7"
django-cacheops = "*"
django-filter = "==2.1.0"
django-tables2 = "==2.0.6"
django-ace = "*"
django-tinymce = "==2.6.1"
django-dynamic-preferences = "==1.7.0"
django-bootstrap3 = "*"
django-ses = "==0.8.2"
django-select2 = "==6.3.1"
ipaddress = "*"
funcsigs = "*"
psycopg2 = "==2.7.3.2"
boto = "==2.49.0"
boto3 = "==1.9.77"
botocore = "==1.12.133"
celery = {extras = ["redis"],version = "==4.3.0"}
redis = "*"
raven = "*"
requests = "*"
six = "==1.10.0"
future = "==0.16.0"
jsonfield = "==1.0.3"
bitmapist = "==3.97"
singledispatch = "==3.4.0.3"
msgpack-python = "==0.4.7"
clom = "==0.8.0a1"
furl = "==0.4.93"
pytz = "==2016.4"
protobuf = "*"
protobuf3-to-dict = "*"
ecdsa = "==0.13"
google-cloud = "*"
python-magic = "==0.4.15"
Markdown = "<3.0.0"
paver = "==1.2.4"
Pillow = "*"

[requires]
python_version = "3.7"
