Django==1.7.1
django-extensions==1.4.0
django-suit==0.2.11
jsonfield==1.0.0
boto==2.33.0
django-storages==1.1.8
django-absolute==0.3
https://github.com/Crystalnix/django-versionfield/archive/fix-minor-bugs.zip#egg=versionfield
raven==5.0.0
django-redis==3.7.1
bitmapist==3.4
singledispatch==3.4.0.3
django-bower==5.0.1
django-nvd3==0.7.6
django-filter==0.8
celery[redis]==3.1.17
django-cacheops==2.2.1
msgpack-python

# Only dev
django-httplog==0.2.2