-i https://pypi.org/simple
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
bitmapist==3.97
boto==2.40.0
celery[redis]==3.1.23
certifi==2019.3.9
chardet==3.0.4
clom==0.8.0a1
contextlib2==0.5.5
django-absolute==0.3
django-ace==1.0.2
django-appconf==1.0.3
django-bootstrap3==11.0.0
django-bower==5.1.0
django-cacheops==2.4.3
django-dynamic-preferences==0.8.1
django-extensions==1.6.7
django-filter==1.0.2
django-nvd3==0.9.7
django-redis==4.4.3
django-select2==6.3.1
django-ses==0.8.2
django-storages==1.6.5
django-suit==0.2.26
django-tables2==1.2.1
django-tinymce==2.6.0
django-versionfield3==0.1.8
django==1.11
djangorestframework==3.4.0
ecdsa==0.13
funcsigs==1.0.2
funcy==1.11
furl==0.4.93
future==0.16.0
google-cloud==0.34.0
idna==2.8
ipaddress==1.0.22
jinja2==2.10
jsonfield==1.0.3
kombu==3.0.37
markdown==3.0.1
markupsafe==1.1.1
msgpack-python==0.4.7
orderedmultidict==1.0
paver==1.2.4
persisting-theory==0.2.1
protobuf-to-dict==0.1.0
protobuf==3.7.0
psycopg2==2.7.3.2
python-dateutil==2.8.0
python-magic==0.4.15
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2016.4
raven==5.17.0
redis==2.10.6
requests==2.21.0
singledispatch==3.4.0.3
six==1.10.0
unidecode==1.0.23
urllib3==1.24.1
uwsgi==2.0.18
