option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: omaha_server/wsgi.py
container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  03_create_admin:
    command: "source /opt/python/run/venv/bin/activate && python createadmin.py"
    leader_only: true
  04_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
