aws:
    access_key: 'AWS Access Key'
    secret_key: 'AWS Secret Key'
    region: 'us-east-1'
    bucket: 'the bucket that beanstalk apps will be stored in'
    bucket_path: 'omaha-server'

app:
    versions_to_keep: 10
    app_name: 'omaha-server'
    description: 'Omaha Server'

    all_environments:
        solution_stack_name: '64bit Amazon Linux 2014.03 v1.0.7 running Python 2.7'
        tier_name: 'WebServer'
        tier_type: 'Standard'
        tier_version: '1.0'

        option_settings:

            'aws:autoscaling:launchconfiguration':
                InstanceType: 't1.micro'
                SecurityGroups: 'omaha_server_dev'
                EC2KeyName: 'viasat_crystalnix_dev'

            'aws:autoscaling:asg':
                MinSize: 1
                MaxSize: 10

            'aws:autoscaling:trigger':
                BreachDuration: 300
                MeasureName: 'CPUUtilization'
                Unit: 'Percent'
                LowerThreshold: 20
                UpperThreshold: 70
                UpperBreachScaleIncrement: 1

            'aws:elasticbeanstalk:application':
                Application Healthcheck URL: '/admin/login/'

            'aws:elasticbeanstalk:container:python':
                WSGIPath: 'omaha_server/wsgi.py'
                NumProcesses: 1
                NumThreads: 15

            'aws:elasticbeanstalk:application:environment':
                AWS_ACCESS_KEY_ID: 'AWS Access Key'
                AWS_SECRET_KEY: 'AWS Secret Key'

        archive:

            includes:
                - '.*'

            excludes: # files to exclude, a list of regex
                - '^.gitignore$'
                - '^\.git*'
                - '^\.idea*'
                - '^\static*'
                - '.*\.zip$'
                - '.*\.pyc$'

            files:

                - .ebextensions/01_init.config:
                    yaml:
                        packages:
                            yum:
                                python-devel: ''
                                postgresql-devel: ''
                                libxslt-devel: ''
                                libxml2-devel: ''

                        container_commands:
                            01_migrate:
                                command: "./manage.py migrate --noinput"
                                leader_only: true
                            02_createadmin:
                                command: "./createadmin.py"
                                leader_only: true
                            03_collectstatic:
                                command: "./manage.py collectstatic --noinput"
                                leader_only: true


    environments:

        # the dev version of the app
        'omaha-server-dev':
            cname_prefix: 'omaha-server-dev'
            option_settings:
                'aws:elasticbeanstalk:application:environment':
                    APP_VERSION: 'DEV'
                    DJANGO_SETTINGS_MODULE: 'omaha_server.settings_prod'
                    SECRET_KEY: 'Django SECRET_KEY'
                    HOST_NAME: 'Eb app host name'
                    DB_HOST: 'db host'
                    DB_USER: 'db user'
                    DB_NAME: 'db name'
                    DB_PASSWORD: 'db password'
                    AWS_ACCESS_KEY_ID: 'AWS Access Key'
                    AWS_SECRET_ACCESS_KEY: 'AWS Secret Key'
                    AWS_STORAGE_BUCKET_NAME: 'S3 storage bucket'
                    RAVEN_DNS: 'Sentry url'
