amqp==2.4.0
anyjson==0.3.3
billiard==3.5.0.5
bitmapist==3.101
boto==2.49.0
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
clom==0.8.0a1
contextlib2==0.5.5
Django==1.11.18
django-absolute==0.3
django-ace==1.0.4
django-appconf==1.0.2
django-bootstrap3==11.0.0
django-bower==5.2.0
django-cacheops==4.1
django-dynamic-preferences==1.7
django-extensions==2.1.4
django-filter==1.1
django-nose==1.4.6
django-nvd3==0.9.7
django-redis==4.10.0
django-select2==6.3.1
django-ses==0.8.9
django-storages==1.7.1
django-suit==0.2.26
django-tables2==2.0.3
django-tinymce==2.8.0
django-versionfield2==0.5.0
djangorestframework==3.9.1
ecdsa==0.13
funcy==1.11
furl==2.0.0
future==0.17.1
google-cloud==0.34.0
idna==2.8
Jinja2==2.10
jsonfield==2.0.2
kombu==4.2.2.post1
libmagic==1.0
lxml==4.3.0
Markdown==3.0.1
MarkupSafe==1.1.0
msgpack-python==0.5.6
orderedmultidict==1.0
persisting-theory==0.2.1
Pillow==5.4.1
protobuf==3.6.1
protobuf-to-dict==0.1.0
psycopg2-binary==2.7.6.1
python-magic==0.4.15
pytz==2018.9
raven==6.10.0
requests==2.21.0
singledispatch==3.4.0.3
six==1.12.0
Unidecode==1.0.23
urllib3==1.24.1
