amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
bitmapist==3.97
boto==2.49.0
celery==3.1.23
certifi==2018.11.29
chardet==3.0.4
clom==0.8.0a1
contextlib2==0.5.5
Django==1.11.18
django-absolute==0.3
django-ace==1.0.4
django-appconf==1.0.2
django-bootstrap3==11.0.0
django-bower==5.2.0
django-cacheops==4.1
django-dynamic-preferences==1.7
django-extensions==2.1.4
django-filter==1.1
django-nose==1.4.6
django-nvd3==0.9.7
django-redis==4.10.0
django-select2==6.3.1
django-ses==0.8.9
django-storages==1.7.1
django-suit==0.2.26
django-tables2==2.0.3
django-tinymce==2.8.0
django-versionfield3==0.1.8
djangorestframework==3.9.1
ecdsa==0.13
funcy==1.11
furl==0.4.93
future==0.16.0
google-cloud==0.34.0
idna==2.8
Jinja2==2.10
jsonfield==1.0.3
kombu==3.0.37
libmagic==1.0
lxml==4.2.6
Markdown==2.6.6
MarkupSafe==1.1.0
msgpack-python==0.4.7
orderedmultidict==1.0
persisting-theory==0.2.1
Pillow==5.4.0
protobuf==3.3.0
protobuf-to-dict==0.1.0
psycopg2-binary==2.7.6.1
python-dateutil==2.7.5
python-magic==0.4.15
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2016.10
raven==6.10.0
redis==2.10.6
requests==2.21.0
singledispatch==3.4.0.3
six==1.10.0
Unidecode==1.0.23
urllib3==1.24.1
