{% extends "admin/base_site.html" %}
{% load suit_tags %}
{% load tz %}
{% load django_select2_tags %}

{% block title %}Set timezone | {{ 'ADMIN_NAME'|suit_conf }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% import_django_select2_css %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% import_django_select2_js %}
{% endblock %}

{% block content %}
{% get_current_timezone as TIME_ZONE %}
    <form action="{% url 'set_timezone' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Set" />
    </form>
{% endblock %}
