.bar-chart svg{
    width: 100%;
    height: 400px;
}

.pie-chart svg{
    width: 100%;
    height: 400px;
}

.stacked-chart svg{
    width: 100%;
    height: 400px;
}

.datatable{
    margin: 10px 18px;
    width: auto;
}

.center {
    text-align:center;
}

.versions-stat-container{
    min-width: 350px;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.middle {
    vertical-align: middle;
}