# More info:
# https://cloud.google.com/appengine/docs/flexible/custom-runtimes/configuring-your-app-with-app-yaml

service: omaha-server
runtime: custom
env: flex

health_check:
  enable_health_check: False

resources:
  cpu: 2
  memory_gb: 1.8
  disk_size_gb: 10

automatic_scaling:
  min_num_instances: 1
  max_num_instances: 5
  cool_down_period_sec: 120
  cpu_utilization:
    target_utilization: 0.5

env_variables:
  HOST_NAME: '*'
  DJANGO_SETTINGS_MODULE: omaha_server.settings_google
  OMAHA_USE_SSL: True
  OMAHA_SERVER_PRIVATE: 'True'

  # Django SECRET_KEY
  SECRET_KEY: '**********'
  # Sentry url
  RAVEN_DNS: '**********'

  # Redis
  REDIS_HOST: 127.0.0.1
  REDIS_PASSWORD: password
  
  # Database
  DB_HOST: 127.0.0.1
  DB_USER: postgres
  DB_NAME: omaha
  DB_PASSWORD: password
  DB_PUBLIC_PASSWORD: password
  DB_PUBLIC_USER: omaha_public

  # Google Cloud
  GS_PROJECT_ID: google-project-name
  GS_BUCKET_NAME: google-file-storage-bucket-name
